extends ../layout

block content
  .container
    div.row.col-lg-lg-12
      h1.page-header= title
    div.row.panel.panel-default.col-lg-12
      div.panel-heading
        |메뉴 목록
      div.row.panel-body
        form#mainForm(name='mainForm').col-lg-6
          div
            input#writeDraftDoc.btn.btn-default(
              name="writeDraftDoc", type='button', value='기안문 작성')
          div
            input#waitListDraftDoc.btn.btn-default(
              name="waitListDraftDoc", type='button', value='기안문 대기목록')
          div
            input#ongoingListDraftDoc.btn.btn-default(
              name="ongoingListDraftDoc", type='button', value='기안문 진행목록')
          div //TODO:완료목록으로 변경예정
            input#listDraftDoc.btn.btn-default(
              name="listDraftDoc", type='button', value='기안문 목록')

          input#listType(name='listType', type='hidden')
          input#loginUserCode(name='loginUserCode', type='hidden')
          input#approverAppCd(name='approverAppCd', type='hidden')
  script(src='/js/apprNs.js')
  script(src='/js/apprMain.js')